.stack {
  flex-direction: row;
  text-align: justify;
  align-self: center;

  margin-bottom: 3rem;
}

.projects {
  font-size: 1.1rem;
  color: #222;

  padding: 2rem;
  width: 100%;

  h1 {
    font-family: var(--font-schoolbell);
    font-size: 3rem;
    margin-bottom: 2rem;

    color: #903;
  }

  p {
    font-size: 1.375rem;
    margin-bottom: 1rem;

    &:last-of-type {
      margin-bottom: 4rem;
    }
  }
}

.project_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  gap: 2rem;

  width: 100%;
}

.project_item {
  display: block;

  border: 1px dashed #ddd;
  border-radius: .5rem;
  overflow: hidden;

  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);

  width: 300px;

  transition: transform .2s ease-in-out;

  &:hover {
    box-shadow: 0 .5rem .75rem rgba(0, 0, 0, 0.1);

    transform: translate(0, -2rem) rotate(-5deg);
  }
}

.project_body {
  border-top: 1px dashed #ddd;
  padding: 1rem;

  text-align: start;
}

.project_name {
  font-weight: bold;
  margin-bottom: 1rem;
}
