@import 'tailwindcss/index.css';

@theme inline {
  --font-sans: var(--font-andika);
  --font-mono: var(--font-m-plus-1-code);
  --font-logo: var(--font-museo-moderno);
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
}

html { height:100% }
body { min-height:100% }

:root {
  --app-navbar-height: 4rem;
  --app-footer-height: 5rem;
  --app-text-gradient: linear-gradient(180deg, #555555, #000000);
  --app-primary-color: #222;
  --app-danger-color: #903;
}

.gradient-text {
  background: var(--app-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button, a[href] {
  &.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: .5rem;

    cursor: pointer;

    border-radius: .5rem;
    border: 1px solid #22222214;
    padding: .375rem 1rem .5rem 1rem;

    &> svg {
      margin-bottom: -.125rem;
    }

    &.primary {
      background-color: var(--app-primary-color);
      color: #fff;

      &:hover {
        background-color: #383838;
      }
    }

    &.danger {
      background-color: var(--app-danger-color);
      color: #fff;

      &:hover {
        background-color: #b40f46;
      }
    }

    &.secondary {
      &:hover {
        background-color: rgba(34, 34, 34, 0.082);
      }
    }
  }
}

.dropcap {
  &>p:first-child:first-letter {
    font-family: var(--font-schoolbell);
    font-size: 3em;
    line-height: 1;

    color: #903;
    float: left;

    padding-right: 1rem;
    padding-top: 0.1em;
    margin-bottom: -0.25em
  }
}

.potrait {
  margin: 0 auto;
  margin-bottom: 1rem;

  border: 1px dotted #eee;
  border-radius: 2rem .5rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);

  padding: .5rem;
}


.separator {
  position: relative;

  font-family: var(--font-mono);
  color: #ccc;
  letter-spacing: 2px;

  height: 100%;
  overflow: hidden;

  &:before {
    position: absolute;

    display: block;
    content: '┊';

    top: -1.25em;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &:after {
    position: absolute;

    display: block;
    content: '┊';

    top: 1.25em;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.broken-image {
  @apply relative overflow-hidden before:absolute;


  &:after {
    content: url("data:image/svg+xml,%3Csvg width='300' height='64' fill='%23aaa' version='1.0' viewBox='0 0 300 64' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m64.824 46.69-0.68725 2.4054q-0.89342-0.24054-1.993-0.60134-1.0824-0.34362-1.993-0.75597-0.9106-0.41235-1.2542-0.79034-0.30926-0.34362-0.51544-1.3573-0.18899-1.0137-0.32644-2.4054-0.12027-1.3745-0.20618-2.8521-0.068722-1.4948-0.12027-2.8005-0.05154-1.323-0.12027-2.1992-0.068722-0.87624-0.17181-1.0137-0.17181-0.24054-0.72161-0.61852-0.53262-0.39517-1.1683-0.8247-0.6357-0.42953-1.0996-0.80752-0.44671-0.37799-0.44671-0.58416t0.44671-0.58416q0.46389-0.37799 1.0996-0.80752t1.1683-0.8247q0.5498-0.39517 0.72161-0.61852 0.10309-0.13745 0.17181-1.0137 0.06872-0.87624 0.12027-2.182 0.05154-1.323 0.12027-2.8005 0.08591-1.4948 0.20618-2.8693 0.13745-1.3917 0.32644-2.4054 0.20618-1.0137 0.51544-1.3573 0.34362-0.39517 1.2542-0.79034 0.9106-0.41235 1.993-0.77316 1.0996-0.3608 1.993-0.58416l0.68725 2.4054q-0.56698 0.18899-1.3573 0.51544-0.79034 0.30926-1.4432 0.63571-0.6357 0.32644-0.80752 0.56698-0.13745 0.20618-0.22336 1.0652-0.08591 0.84188-0.13745 2.0617-0.03436 1.2199-0.06872 2.56-0.01718 1.3401-0.05154 2.56-0.03436 1.2027-0.08591 2.0274-0.03436 0.80752-0.12027 0.97933-0.12027 0.22336-0.5498 0.5498-0.41235 0.32644-0.92778 0.67007-0.49826 0.32644-0.87624 0.60134-0.3608 0.2749-0.39517 0.41235 0.03436 0.13745 0.39517 0.41235 0.37799 0.2749 0.87624 0.61852 0.51544 0.32644 0.92778 0.65288 0.42953 0.30926 0.5498 0.5498 0.08591 0.15463 0.12027 0.97933 0.05154 0.8247 0.08591 2.0446 0.03436 1.2027 0.05154 2.5428 0.03436 1.3401 0.06872 2.56 0.05154 1.2199 0.13745 2.0617 0.08591 0.85906 0.22336 1.0652 0.17181 0.24054 0.80752 0.56698 0.65289 0.32644 1.4432 0.6357 0.79034 0.30926 1.3573 0.51544zm30.239-4.6389h-3.1785t0-0.73879q0-0.73879 0-1.9071 0-1.1683 0-2.4741 0-1.3058 0-2.4569 0-1.1683 0-1.8728 0-2.1477-0.37799-3.316-0.37799-1.1855-1.134-1.6322-0.75597-0.46389-1.9243-0.46389-1.237 0-2.371 0.73879-1.134 0.73879-1.993 1.8728-0.84188 1.1168-1.2199 2.2851v9.9651h-3.1785t0-0.75597q0-0.77315 0-1.993 0-1.2199 0-2.6459 0-1.4432 0-2.8005 0-1.3745 0-2.371 0-2.5256-0.29208-4.2953-0.2749-1.7697-0.56698-2.6631h3.0926q0.13745 0.36081 0.25772 0.99651 0.13745 0.6357 0.25772 1.2886 0.12027 0.65289 0.17181 1.0652 1.6322-1.9587 3.2988-2.8177 1.6666-0.87624 3.4878-0.87624 2.749 0 4.2094 1.804 1.4604 1.7868 1.4604 5.3262 0 0.85906 0 2.1992 0 1.323 0 2.8005 0 1.4776 0 2.7834 0 1.3058 0 2.1305zm3.9517-8.6765q0-2.9552 1.134-4.9997 1.1511-2.0617 3.0411-3.127 1.9071-1.0652 4.1578-1.0652 2.371 0 4.1578 1.0652 1.804 1.0652 2.8177 3.127 1.0137 2.0446 1.0137 4.9997 0 2.9552-1.1511 4.9826-1.134 2.0274-3.0239 3.0754-1.8899 1.0481-4.1578 1.0481-2.3538 0-4.1578-1.0481-1.804-1.0481-2.8177-3.0754-1.0137-2.0274-1.0137-4.9826zm3.1785 0q0 3.0067 1.3745 4.6905 1.3917 1.6666 3.608 1.6666 2.0789 0 3.5222-1.6666 1.4604-1.6838 1.4604-4.6905 0-3.0239-1.3917-4.7248-1.3745-1.7181-3.5909-1.7181-2.0789 0-3.5393 1.7181-1.4432 1.7009-1.4432 4.7248zm27.232-8.8483h3.4362q0 2.3366 0 4.6733t0 4.6905q0 1.0996 0.0344 2.6803 0.0515 1.5635 0.12027 3.0583 0.0859 1.4948 0.18899 2.4225h-3.5221q0-1.237 0-2.9036 0-1.6666 0-3.316 0-1.6666 0-2.8864 0-2.5085-0.0515-4.7764-0.0344-2.2851-0.20618-3.6424zm-0.34362-5.5839q0-0.96215 0.60134-1.6322 0.60134-0.68725 1.5463-0.68725 0.96215 0 1.5978 0.68725 0.63571 0.67007 0.63571 1.6322 0 0.94497-0.63571 1.6322-0.6357 0.68725-1.5978 0.68725-0.94497 0-1.5463-0.68725t-0.60134-1.6322zm23.281 11.769v11.34h-3.1785v-9.7933q0-2.1305-0.22335-3.2129-0.22336-1.0996-0.77316-1.4776-0.53262-0.37799-1.4948-0.37799-1.2542 0-2.4741 0.99651-1.2199 0.97933-1.9071 2.5256v11.34h-3.1785v-10.566q0-2.5256-0.29208-4.2953-0.29207-1.7697-0.56698-2.6631h3.0926q0.18899 0.53262 0.32645 1.2886 0.13744 0.75597 0.22335 1.3745 1.5807-1.8212 2.9552-2.4054 1.3745-0.60134 2.8521-0.60134 1.6838 0 2.7318 0.87624 1.0652 0.87624 1.4948 2.0102 1.615-1.7353 3.0411-2.3023 1.426-0.58416 2.7834-0.58416 2.6115 0 3.6252 1.6838 1.0137 1.6666 1.0137 4.8451v11.34h-3.1785v-9.4497q0-2.2164-0.22336-3.3847-0.22335-1.1683-0.77315-1.5979-0.53262-0.42953-1.4948-0.42953-1.2542 0-2.4397 0.96215-1.1855 0.94497-1.9415 2.56zm30.84 11.34h-3.0067q-0.24053-0.5498-0.42953-1.5979-0.17182-1.0652-0.25771-2.182-0.0859-1.134-0.0859-1.8899v-1.3745q-0.67006 1.7697-1.7181 3.505-1.0481 1.7181-2.4569 2.8521-1.4089 1.1168-3.2129 1.1168-2.1648 0-3.6596-1.9071-1.4948-1.9243-1.4948-5.5667 0-2.0446 0.5498-3.9689 0.5498-1.9415 1.6838-3.4878 1.134-1.5463 2.8864-2.4569 1.7525-0.9106 4.1578-0.9106 1.6666 0 3.1442 0.22336 1.4776 0.20617 2.7834 0.5498v7.9893q0 3.2472 0.30926 5.4636 0.30926 2.1992 0.80752 3.6424zm-4.2953-12.628v-2.182q-0.42953-0.10309-1.0824-0.20617-0.6357-0.10309-1.9243-0.10309-2.2336 0-3.5222 1.1683-1.2714 1.1511-1.804 2.9895-0.51544 1.8384-0.51544 3.9173 0 1.993 0.73879 3.2816 0.7388 1.2714 1.7525 1.2714 0.91061 0 1.8212-0.79034 0.91061-0.80752 1.7181-2.0617 0.8247-1.2714 1.4432-2.6631 0.63571-1.4089 0.99652-2.6459 0.37798-1.237 0.37798-1.9758zm22.937-3.9517v16.15q0 3.0239-1.1168 4.8966-1.1168 1.8728-2.8693 2.7318-1.7525 0.87624-3.6596 0.87624-1.6322 0-3.2644-0.56698-1.6322-0.56698-3.0067-1.4948l1.1168-2.6631q1.2199 0.87624 2.4569 1.426 1.2542 0.5498 2.5256 0.5498 0.89342 0 1.9758-0.46389 1.0824-0.44671 1.8727-1.5807 0.79035-1.1168 0.79035-3.1098v-3.5221q-1.3401 1.6838-2.9208 2.56-1.5807 0.87624-3.0067 0.87624-1.5807 0-2.9724-0.75597-1.3917-0.75597-2.2679-2.4054-0.85905-1.6666-0.85905-4.3984 0-1.9758 0.51543-3.8314 0.51544-1.8556 1.5979-3.3332 1.0824-1.4948 2.7662-2.3538 1.7009-0.87624 4.0548-0.87624 1.5635 0 3.2129 0.41235 1.6494 0.41235 3.0583 0.87624zm-3.1785 9.7933v-7.4738q-0.80751-0.30926-1.8212-0.49826-0.99651-0.18899-1.7868-0.18899-1.8727 0-3.0411 0.97933-1.1512 0.97933-1.6838 2.4913-0.51543 1.5119-0.51543 3.1442 0 2.1133 0.42953 3.316 0.42953 1.2027 1.1683 1.7009 0.73879 0.48107 1.6666 0.48107 1.3058 0 2.8864-1.0309 1.5807-1.0309 2.6974-2.9208zm22.49-1.5463h-12.783v-2.4054h9.7074q0-2.2164-1.2199-3.3847-1.2027-1.1683-3.0754-1.1683-2.2507 0-3.5393 1.5979-1.2714 1.5979-1.2714 5.0169 0 3.1785 1.5463 4.7248 1.5635 1.5463 3.9517 1.5463 1.6666 0 3.2644-0.37799 1.615-0.39517 3.1785-1.3401l0.34363 2.8349q-1.8212 0.94497-3.5222 1.323-1.7009 0.39517-3.694 0.39517-2.182 0-4.072-1.0137-1.8728-1.0137-3.0239-3.0067-1.1511-1.993-1.1511-4.9138 0-2.8521 0.99651-4.9482 1.0137-2.0961 2.8521-3.2472 1.8556-1.1683 4.3984-1.1683 2.1305 0 3.505 0.72161 1.3917 0.72161 2.182 1.9243 0.79034 1.2027 1.1168 2.6631 0.32644 1.4432 0.32644 2.8864 0 0.22336 0 0.67007 0 0.42953-0.0172 0.67007zm14.707 15.377-0.68725-2.4054q0.58416-0.20618 1.3573-0.51544 0.79033-0.30926 1.426-0.6357 0.65288-0.32644 0.82469-0.56698 0.13745-0.20618 0.22336-1.0652 0.0859-0.84188 0.12027-2.0617 0.0515-1.2199 0.0687-2.56 0.0343-1.3401 0.0687-2.5428 0.0344-1.2199 0.0687-2.0446 0.0515-0.8247 0.13745-0.97933 0.12026-0.24054 0.53261-0.5498 0.42954-0.32644 0.92779-0.65288 0.51544-0.34362 0.89342-0.61852 0.37799-0.2749 0.39517-0.41235-0.0172-0.13745-0.39517-0.41235-0.37798-0.2749-0.89342-0.60134-0.49825-0.34362-0.92779-0.67007-0.41235-0.32644-0.53261-0.5498-0.0859-0.17181-0.13745-0.97933-0.0343-0.8247-0.0687-2.0274-0.0343-1.2199-0.0687-2.56-0.0172-1.3401-0.0687-2.56-0.0344-1.2199-0.12027-2.0617-0.0859-0.85906-0.22336-1.0652-0.17181-0.24054-0.82469-0.56698-0.63571-0.32644-1.426-0.63571-0.77316-0.32644-1.3573-0.51544l0.68725-2.4054q0.89342 0.22336 1.9758 0.58416 1.0996 0.36081 2.0102 0.77316 0.9106 0.39517 1.2542 0.79034 0.30926 0.34362 0.49825 1.3573 0.20618 1.0137 0.32644 2.4054 0.13745 1.3745 0.20617 2.8693 0.0859 1.4776 0.13746 2.8005 0.0515 1.3058 0.12027 2.182 0.0687 0.87624 0.17181 1.0137 0.17181 0.22336 0.70443 0.61852 0.5498 0.39517 1.1855 0.8247 0.63571 0.42953 1.0824 0.80752 0.46389 0.37799 0.46389 0.58416t-0.46389 0.58416q-0.44671 0.37799-1.0824 0.80752-0.6357 0.42953-1.1855 0.8247-0.53262 0.37799-0.70443 0.61852-0.10309 0.13745-0.17181 1.0137-0.0687 0.87624-0.12027 2.1992-0.0515 1.3058-0.13746 2.8005-0.0687 1.4776-0.20617 2.8521-0.12026 1.3917-0.32644 2.4054-0.18899 1.0137-0.49825 1.3573-0.34363 0.37799-1.2542 0.79034t-2.0102 0.75597q-1.0824 0.3608-1.9758 0.60134z' stroke-width='.73306'/%3E%3C/svg%3E");
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.skeleton {
  @apply relative overflow-hidden before:absolute before:animate-pulse before:bg-gray-200 dark:before:bg-gray-700;
}

.skeleton-image {
  @apply relative overflow-hidden before:absolute before:animate-pulse before:bg-gray-200 dark:before:bg-gray-700;


  &:after {
    content: '';

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:not(.no-image) {
     &:after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='72' height='72' fill='%23ddd' viewBox='0 0 16 16'%3E%3Cpath d='M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0'/%3E%3C/svg%3E");
     }
  }
}

.skeleton-line {
  @apply animate-pulse bg-gray-200 rounded-[.5rem] dark:bg-gray-700;
}
