@import 'tailwindcss/index.css';

@theme inline {
  --font-sans: var(--font-andika);
  --font-mono: var(--font-m-plus-1-code);
  --font-logo: var(--font-museo-moderno);
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
}

html { height:100% }
body { min-height:100% }

:root {
  --app-navbar-height: 4rem;
  --app-footer-height: 5rem;
  --app-text-gradient: linear-gradient(180deg, #555555, #000000);
  --app-primary-color: #222;
  --app-danger-color: #903;
}

.gradient-text {
  background: var(--app-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button, a[href] {
  &.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: .5rem;

    cursor: pointer;

    border-radius: .5rem;
    border: 1px solid #22222214;
    padding: .375rem 1rem .5rem 1rem;

    &> svg {
      margin-bottom: -.125rem;
    }

    &.primary {
      background-color: var(--app-primary-color);
      color: #fff;

      &:hover {
        background-color: #383838;
      }
    }

    &.danger {
      background-color: var(--app-danger-color);
      color: #fff;

      &:hover {
        background-color: #b40f46;
      }
    }

    &.secondary {
      &:hover {
        background-color: rgba(34, 34, 34, 0.082);
      }
    }
  }
}

.dropcap {
  &>p:first-child:first-letter {
    font-family: var(--font-schoolbell);
    font-size: 3em;
    line-height: 1;

    color: #903;
    float: left;

    padding-right: 1rem;
    padding-top: 0.1em;
    margin-bottom: -0.25em
  }
}

.potrait {
  margin: 0 auto;
  margin-bottom: 1rem;

  border: 1px dotted #eee;
  border-radius: 2rem .5rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);

  padding: .5rem;
}


.separator {
  position: relative;

  font-family: var(--font-mono);
  color: #ccc;
  letter-spacing: 2px;

  height: 100%;
  overflow: hidden;

  &:before {
    position: absolute;

    display: block;
    content: '┊';

    top: -1.25em;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &:after {
    position: absolute;

    display: block;
    content: '┊';

    top: 1.25em;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.skeleton {
  @apply relative overflow-hidden before:absolute before:inset-0 before:animate-pulse before:bg-gray-200 dark:before:bg-gray-700;
}

.skeleton-image {
  @apply relative overflow-hidden before:absolute before:inset-0 before:animate-pulse before:bg-gray-200 dark:before:bg-gray-700;


  &:after {
    content: '';

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:not(.no-image) {
     &:after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='72' height='72' fill='%23ddd' viewBox='0 0 16 16'%3E%3Cpath d='M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0'/%3E%3C/svg%3E");
     }
  }
}

.skeleton-line {
  @apply animate-pulse bg-gray-200 rounded-[.5rem] dark:bg-gray-700;
}
