.contactForm {
  background-color: #ffffff;
  padding: 2rem;
  border: 1px dotted #eee;
  border-radius: .75rem;
  box-shadow: 0 .5rem .75rem rgba(0, 0, 0, 0.1);

  width: 100%;
  min-width: 360px;

  h2 {
    font-size: 2.2em;
    color: #2c3e50;
    /* Dark blue-gray for heading */
    margin-bottom: 10px;
    font-weight: 600;
  }

  p {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 2rem;
    line-height: 1.6;
  }
}

.contactFormGroup {
  margin-bottom: 20px;
  text-align: left;

  label {
    display: block;
    font-weight: 400;
    color: #222;

    margin-bottom: .5rem;
  }

  input, textarea {
    font-family: var(--font-schoolbell);
    border: 1px dashed #ddd;
    border-radius: .5rem;
  }

  textarea {
    resize: vertical;
    /* Allow vertical resizing of textarea */
    min-height: 120px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: .5rem 1rem;

    font-size: 1.15em;

    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #fcfcfc;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border-color: #903;
    /* Blue on focus */
    box-shadow: 0 0 0 3px rgba(153, 0, 51, 0.2);
    outline: none;
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .contactForm {
    padding: 30px 20px;
    margin: 20px;

    h2 {
      font-size: 1.8em;
    }

    p {
      font-size: 0.95em;
    }
  }

  .contactFormGroup {
    input[type="text"],
    input[type="email"],
    textarea {
      width: calc(100% - 20px);
      /* Re-adjust for smaller screens */
    }
  }
}
