.navigation, .navigation_skeleton {
  display: grid;
  gap: 1rem;

  font-size: 1.1em;
  margin-top: 5rem;
}

.navigation {
  a:hover {
    background-color: rgba(34, 34, 34, 0.082);
  }
}

.navigation_skeleton {
  .link {
    color: var(--color-gray-200);
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;

  border: 1px solid #ddd;
  border-radius: .25rem;
  padding: .5rem 1rem;

  &> svg {
    margin-bottom: -0.125em;
  }
}

