.quote {
  font-family: var(--font-schoolbell);
  font-size: 1.625rem;
  font-style: italic;

  text-align: center;

  p {
    margin-bottom: 0;
  }
}

.quote_content {
  position: relative;
  display: inline-block;

  &::before {
    position: absolute;
    display: block;
    content: '"';

    color: #903;
    font-size: 2em;
    left: -.5em;
    top: -.5em;
  }

  &::after {
    position: absolute;
    display: block;
    content: '"';

    color: #903;
    font-size: 2em;
    right: -.5em;
    bottom: -.5em;
  }
}

.quote_cite {
  color: #000;
}
